{% extends "account/base.html" %}

{% load i18n %}

{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="px-2 py-3 px-lg-5 py-lg-4">
    <div class="justify-content-between align-items-center d-none d-lg-flex">
        <img src="{% static 'img/logo.png' %}" width="220" />
        <div>
            New user?
            <a class="small text-danger" href="{% url 'account_signup' %}">Create an account</a>
        </div>
    </div>
    <div class="mt-lg-5 p-lg-5">
        <h1 class="heading-section__heading title">Forgot password?</h1>
        <div class="row">
            <form action="{% url 'account_reset_password' %}" method="post" class="user col-lg-8">
                {% csrf_token %}
                <div class="mb-4">
                    Enter the email address you used when you joined and we'll send you instrutions to reset your password.
                </div>
                <div class="form-group">
                    <label for="id_login">Your email</label>
                    <input type="email" class="form-control form-control-user"
                        id="id_login" name="email" aria-describedby="emailHelp"
                        placeholder="Enter Email Address...">
                </div>
                <button type="submit" class="btn btn-danger btn-user btn-block">
                    Submit
                </button>
            </form>
        </div>
        <div class="mt-4">
            <a class="small text-primary" href="{{ login_url }}">&lt; Back to sign in</a>
        </div>
    </div>
    <div class="text-center d-lg-none mt-3">
        New user?
        <a class="small text-danger" href="{{ signup_url }}">Create an account</a>
    </div>
</div>
{% endblock %}