{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <title>{% block head_title %}{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">

    {% block custom_css %}{% endblock %}

    <link href="{% static 'css/custom.css' %}?version=2021062102" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar accordion">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-none d-md-flex align-items-center justify-content-center my-5" href="/">
                <img src="{% static 'img/logo.png' %}" width="220" />
            </a>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'catalog' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="cart"><path d="M45.71,80.13a6.09,6.09,0,1,0,6.09,6.09A6.09,6.09,0,0,0,45.71,80.13Z"></path><path d="M73,80.13a6.09,6.09,0,1,0,6.09,6.09A6.09,6.09,0,0,0,73,80.13Z"></path><path d="M93.8,24.8a8.16,8.16,0,0,0-8-9.94H28.71L27.26,7.7H6v8H20.72l12.1,59.65H88.24v-8H39.36L38.2,61.64H85.55Z"></path></g></svg>
                    <span>Catalog</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-check-square"></i>
                    <span>Replenishment</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-chart-line"></i>
                    <span>Analytics</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Settings</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-sync"></i>
                    <span>Sync</span>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav sidebar accordion" style="position: absolute; bottom: 0; min-height: auto; height: auto;">
            <li class="nav-item">
                <a class="nav-link" href="#" id="sidebarToggleTop">
                    <i class="fa fa-fw fa-bars"></i>
                    <span>Collapse Menu</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column bg-white">

            <!-- Main Content -->
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar static-top d-lg-none justify-content-between">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="d-flex align-items-center mt-2">
                        <div class="input-group align-items-center bg-light" style="border-radius: 20px;">
                            <div class="input-group-prepend pl-3 py-2 text-gray-600">
                                <i class="fas fa-lg fa-search"></i>
                            </div>
                            <input type="text" class="form-control bg-light border-0 small bg-transparent" placeholder="Search..."
                                aria-label="Search" aria-describedby="basic-addon2" id="search-input">
                        </div>
                        <a class="nav-link ml-3 ml-md-5 p-0 text-gray-600 position-relative" href="#" role="button">
                            <i class="far fa-bell fa-2x"></i>
                            <span class="badge badge-pill badge-danger position-absolute d-block" style="padding: 5px; top: 0; right: 0;"></span>
                        </a>
                    </div>
                </nav>

                <!-- Begin Page Content -->
                <div class="">

                    <!-- Page Heading -->
                    <div class="page-header py-3 py-md-5 d-flex justify-content-between align-items-start flex-column flex-lg-row">
                        <div class="mt-2">
                            <h1 class="main-title">{% block page_main_title %}{% endblock %}</h1>
                            <h5 class="sub-title">{% block page_sub_title %}{% endblock %}</h5>
                        </div>
                        <div class="d-none d-lg-flex align-items-center mt-2">
                            <div class="mr-5">
                                {% block upload_button %}{% endblock %}
                            </div>
                            <div class="input-group align-items-center bg-white" style="border-radius: 20px;">
                                <div class="input-group-prepend pl-3 py-2 text-gray-600">
                                    <i class="fas fa-lg fa-search"></i>
                                </div>
                                <input type="text" class="form-control bg-light border-0 small bg-transparent" placeholder="Search..."
                                    aria-label="Search" aria-describedby="basic-addon2" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px; box-shadow: none; width: 300px;">
                            </div>
                            <a class="nav-link ml-5 p-0 text-gray-600 position-relative" href="#" role="button">
                                <i class="far fa-bell fa-2x"></i>
                                <span class="badge badge-pill badge-danger position-absolute d-block" style="padding: 5px; top: 0; right: 0;"></span>
                                <!-- Counter - Alerts -->
                            </a>
                        </div>
                    </div>

                    <div class="main-container">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    {% block custom_js %}{% endblock %}

    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>