{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block custom_css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}{% trans "Catalog" %}{% endblock %}

{% block page_main_title %}{% trans "Catalog" %}{% endblock %}

{% block upload_button %}
<a href="{% url 'import_a2000' %}" class="btn btn-danger btn-user" id="upload_a2000">UPLOAD A2000</a>
{% endblock %}

{% block content %}
<div class="table-responsive sku-table-wrapper">
    <table id="sku-list" class="table">
        <thead>
            <tr>
                <th>Sku</th>
                <th>Product Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Style</th>
                <th>Color</th>
                <th>Inseam</th>
                <th>Size</th>
                <th>Available</th>
                <th>Week avail.</th>
                <th>Current Status</th>
                <th>Replenishment</th>
                <th>ETA</th>
                <th>Future WA.</th>
                <th>Future Status</th>
                <th>Repl. New</th>
                <th>ETA 2</th>
                <th>Fut. Status 2</th>
                <th>Sales Last Wk.</th>
                <th>Sales Last 4Wk.</th>
                <th>Sales Last 52Wk.</th>
                <th>Sales Best Week</th>
                <th>Sales Average Week</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.sku_name }}</td>
                <td>{{ row.product_name }}</td>
                <td>{{ row.product_category }}</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>?</td>
                <td>{{ row.size|default:"?" }}</td>
                <td>{{ row.available_to_sell }}</td>
                <td>{{ row.weeks_available }}</td>
                <td class="text-danger">RUNNING OUT</td>
                <td>500</td>
                <td>Jun 20</td>
                <td>4</td>
                <td class="text-danger">UNDERBOUGHT</td>
                <td>10,000</td>
                <td>Jul 20</td>
                <td class="text-danger">UNDERBOUGHT</td>
                <td>{{ row.sales_last_week|floatformat:"-3g" }}</td>
                <td>{{ row.sales_last_4_weeks|floatformat:"-3g" }}</td>
                <td>{{ row.sales_last_52_weeks|floatformat:"-3g" }}</td>
                <td>?</td>
                <td>{{ row.average_week|floatformat:"0" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}