{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block custom_css %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <style>
    .pagination {
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 15px;
        height: 60px;
        padding: 10px 50px;
        align-items: center;
    }
    th.sorting {
        padding-right: 32px !important;
        cursor: pointer !important;
    }
    th.sorting::before,
    th.sorting::after {
        top: 13px;
        position: absolute;
        bottom: .9em;
        display: block;
        opacity: .3;
    }
    th.sorting::before {
        right: 16px;
        content: "↑";
    }
    th.sorting::after {
        right: 8px;
        content: "↓";
    }
    th.sorting.sorting_asc::before {
        opacity: 1;
    }
    th.sorting.sorting_desc::after {
        opacity: 1;
    }
    </style>
{% endblock %}

{% block head_title %}{% trans "Catalog" %}{% endblock %}

{% block page_main_title %}{% trans "Catalog" %}{% endblock %}

{% block upload_button %}
<div class="mr-4 d-flex flex-shrink-0">
    <a href="{% url 'export_excel' %}" class="btn btn-danger btn-user mr-3 flex-shrink-0" id="export_excel">Export Excel</a>
    <a href="{% url 'import_a2000_view' %}" class="btn btn-danger btn-user flex-shrink-0" id="upload_a2000">UPLOAD A2000</a>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive sku-table-wrapper">
    <table id="sku-list" class="table">
        <thead>
            <tr class="text-center">
                <th class="sorting" data-column="sku_name">SKU</th>
                <th class="sorting" data-column="upc">UPC</th>
                <th class="sorting" data-column="product_name">Product Name</th>
                <th class="sorting" data-column="product_category">Category</th>
                <th>Style</th>
                <th class="sorting" data-column="color">Color</th>
                <th class="sorting" data-column="inseam">Inseam</th>
                <th class="sorting" data-column="size">Size</th>
                <th class="sorting" data-column="available_to_sell">Available</th>
                <th class="sorting" data-column="weeks_available">Week avail.</th>
                <th class="sorting" data-column="current_status">Current Status</th>
                <th class="sorting" data-column="repl">Replenishment</th>
                <th class="sorting" data-column="eta">ETA</th>
                <th class="sorting" data-column="future_wa">Future WA.</th>
                <th class="sorting" data-column="future_status">Future Status</th>
                <th>Throttle</th>
                <th class="sorting" data-column="repl2">Repl. New</th>
                <th class="sorting" data-column="eta2">ETA 2</th>
                <th class="sorting" data-column="future_status2">Fut. Status 2</th>
                <th class="sorting" data-column="sales_last_week">Sales Last Wk.</th>
                <th class="sorting" data-column="sales_last_4_weeks">Sales Last 4Wk.</th>
                <th class="sorting" data-column="sales_last_52_weeks">Sales Last 52Wk.</th>
                <th>Sales Best Week</th>
                <th class="sorting" data-column="sales_last_4_weeks">Sales Average Week</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr class="text-center">
                <td>{{ row.sku_name }}</td>
                <td>{{ row.upc }}</td>
                <td>{{ row.product_name }}</td>
                <td>{{ row.product_category }}</td>
                <td>?</td>
                <td>{{ row.color|default:"?" }}</td>
                <td>{{ row.inseam|default:"?" }}</td>
                <td>{{ row.size|default:"?" }}</td>
                <td>{{ row.available_to_sell }}</td>
                <td>{{ row.weeks_available }}</td>
                <td class="{% if row.current_status == 'RUNNING OUT' or not row.current_status %} text-danger {% else %} text-success {% endif %}">
                {{ row.current_status|default:"RUNNING OUT" }}
                </td>
                <td>{{ row.repl }}</td>
                <td><input type="date" name="eta" class="form-control datepicker" value="{{ row.eta|date:'Y-m-d' }}"></td>
                <td>{{ row.future_wa }}</td>
                <td class="{% if row.future_status == 'UNDERBOUGHT' or not row.future_status %} text-danger {% else %} text-success {% endif %}">{{ row.future_status|default:"UNDERBOUGHT" }}</td>
                <td>?</td>
                <td>{{ row.repl2 }}</td>
                <td><input type="date" name="eta2" class="form-control datepicker"></td>
                <td class="{% if row.future_status2 == 'OVERBOUGHT' or not row.future_status2 %} text-danger {% else %} text-success {% endif %}">{{ row.future_status2|default:"OVERBOUGHT" }}</td>
                <td>{{ row.sales_last_week|floatformat:"-3g" }}</td>
                <td>{{ row.sales_last_4_weeks|floatformat:"-3g" }}</td>
                <td>{{ row.sales_last_52_weeks|floatformat:"-3g" }}</td>
                <td>?</td>
                <td>{{ row.average_week|floatformat:"0" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="mr-5">
            <select class="custom-select form-control" id="page-size">
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option selected>100</option>
            </select>
        </span>
        <span class="step-links">
            <a class="btn btn-danger btn-user btn-circle page-link-item {% if not data.has_previous %}disabled{% endif %}" href="#" data-page="1">
                <i class="fa fa-angle-double-left"></i>
            </a>
            <a class="btn btn-danger btn-user btn-circle page-link-item {% if not data.has_previous %}disabled{% endif %}" href="#" data-page="{% if data.has_previous %}{{ data.previous_page_number }}{% endif %}">
                <i class="fa fa-angle-left"></i>
            </a>

            <span class="current mx-3">
                Page {{ data.number }} / {{ data.paginator.num_pages }}
            </span>

            <a class="btn btn-danger btn-user btn-circle page-link-item {% if not data.has_next %}disabled{% endif %}" href="#" data-page="{% if data.has_next %}{{ data.next_page_number }}{% endif %}">
                <i class="fa fa-angle-right"></i>
            </a>
            <a class="btn btn-danger btn-user btn-circle page-link-item {% if not data.has_next %}disabled{% endif %}" href="#" data-page="{{ data.paginator.num_pages }}">
                <i class="fa fa-angle-double-right"></i>
            </a>
        </span>
    </div>
</div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script>
        $(function() {
            var perPage = {{ data.paginator.per_page }};
            var pageNum = {{ data.number }};
            var sortColumn = '{{ sort_column }}';
            var sortDir = '{{ sort_dir }}';

            $('#page-size').val(perPage);
            if (sortColumn) {
                $(`th[data-column=${sortColumn}]`).addClass(`sorting_${sortDir}`);
            }

            $('#page-size').change(function() {
                perPage = $(this).val();
                var searchValue = $('#search-input').val();
                location.href=`?page=${pageNum}&per_page=${perPage}&search_value=${searchValue}&sort_column=${sortColumn}&sort_dir=${sortDir}`;
            });
            
            $('.page-link-item').click(function() {
                pageNum = $(this).data('page');
                var searchValue = $('#search-input').val();
                location.href=`?page=${pageNum}&per_page=${perPage}&search_value=${searchValue}&sort_column=${sortColumn}&sort_dir=${sortDir}`;
                return false;
            });

            $('#search-input').val('{{ search_value }}');

            $('#search-input').keypress(function(e) {
                if (e.keyCode == 13) {
                    var searchValue = $('#search-input').val();
                    location.href=`?page=${pageNum}&per_page=${perPage}&search_value=${searchValue}&sort_column=${sortColumn}&sort_dir=${sortDir}`;
                    return false;
                }
            });

            $('th.sorting').click(function() {
                sortColumn = $(this).data('column');
                if ($(this).hasClass('sorting_asc')) {
                    $(this).removeClass('sorting_asc').addClass('sorting_desc');
                    sortDir = 'desc';
                } else {
                    $(this).removeClass('sorting_desc').addClass('sorting_asc');
                    sortDir = 'asc';
                }
                var searchValue = $('#search-input').val();
                location.href=`?page=${pageNum}&per_page=${perPage}&search_value=${searchValue}&sort_column=${sortColumn}&sort_dir=${sortDir}`;
            });
        });
    </script>
{% endblock %}